@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?wgh2kf');
  src:  url('fonts/icomoon.eot?wgh2kf#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?wgh2kf') format('truetype'),
    url('fonts/icomoon.woff?wgh2kf') format('woff'),
    url('fonts/icomoon.svg?wgh2kf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home3:before {
  content: "\e902";
}
.icon-droplet:before {
  content: "\e90b";
}
.icon-paint-format:before {
  content: "\e90c";
}
.icon-play:before {
  content: "\e912";
}
.icon-spades:before {
  content: "\e917";
}
